<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Victoria.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>14147ABFD987B9AE83DAC4C5FE09AADD521EFE43</string>
				<key>dateExpires</key>
				<string>04/02/2021</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14147ABFD987B9AE83DAC4C5FE09AADD521EFE43</string>
						<key>dateExpires</key>
						<string>04/02/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3B467DURT</string>
						<key>name</key>
						<string>Shenzhen Fangduoduo Network Technoligies Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14147ABFD987B9AE83DAC4C5FE09AADD521EFE43</string>
						<key>dateExpires</key>
						<string>04/02/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ESPullToRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3B467DURT</string>
						<key>name</key>
						<string>Shenzhen Fangduoduo Network Technoligies Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14147ABFD987B9AE83DAC4C5FE09AADD521EFE43</string>
						<key>dateExpires</key>
						<string>04/02/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3B467DURT</string>
						<key>name</key>
						<string>Shenzhen Fangduoduo Network Technoligies Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14147ABFD987B9AE83DAC4C5FE09AADD521EFE43</string>
						<key>dateExpires</key>
						<string>04/02/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3B467DURT</string>
						<key>name</key>
						<string>Shenzhen Fangduoduo Network Technoligies Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14147ABFD987B9AE83DAC4C5FE09AADD521EFE43</string>
						<key>dateExpires</key>
						<string>04/02/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LCActionSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3B467DURT</string>
						<key>name</key>
						<string>Shenzhen Fangduoduo Network Technoligies Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14147ABFD987B9AE83DAC4C5FE09AADD521EFE43</string>
						<key>dateExpires</key>
						<string>04/02/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3B467DURT</string>
						<key>name</key>
						<string>Shenzhen Fangduoduo Network Technoligies Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14147ABFD987B9AE83DAC4C5FE09AADD521EFE43</string>
						<key>dateExpires</key>
						<string>04/02/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3B467DURT</string>
						<key>name</key>
						<string>Shenzhen Fangduoduo Network Technoligies Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14147ABFD987B9AE83DAC4C5FE09AADD521EFE43</string>
						<key>dateExpires</key>
						<string>04/02/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3B467DURT</string>
						<key>name</key>
						<string>Shenzhen Fangduoduo Network Technoligies Co.,Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J3B467DURT.com.victoria.cat</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>J3B467DURT</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Victoria.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>68e35fb6-2b0d-4bc3-a963-be0be75a8659</string>
				<key>name</key>
				<string>victoria_cat_inhouse</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J3B467DURT</string>
				<key>name</key>
				<string>Shenzhen Fangduoduo Network Technoligies Co.,Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
